.left,
.center,
.mobile {
  border-radius: 50%;
  object-fit: cover;
  object-position: -81px;
  display: block;
  width: 100%;
}

.left {
  object-position: -81px;
}

.center {
  object-position: -26px;
}

.mobile {
  object-position: -15px;
}
