/* :root {
  --yellow-faded: hsl(55, 67%, 80%);
  --yellow-faded-light: hsl(55, 67%, 90%);
  --blue-black: hsl(218, 35%, 6%, 0.929);

  --red-light: hsl(0, 100%, 70%);
  --red-dark: hsl(0, 100%, 40%);
  --green-light: hsl(120, 100%, 65%);
  --green-dark: hsl(120, 100%, 25%);

  --yellow: hsl(51, 100%, 50%);
  --yellow-orange: hsl(44, 100%, 55%);
  --yellow-orange: hsl(45, 100%, 60%);
  --amber: hsl(45, 100%, 50%);
  --orange-dark: hsl(22, 100%, 55%);

  --pink-light: hsl(328, 100%, 74%);
  --pink-medium-light: hsl(328, 100%, 62%);
  --pink: hsl(328, 100%, 54%);
  --pink-medium-dark: hsl(328, 100%, 45%);
  --pink-dark: hsl(328, 100%, 37%);

  --sky: hsl(195, 100%, 50%);
  --sky-light: hsl(195, 100%, 75%);
  --sky-dark: hsl(195, 100%, 25%);

  --azure: hsl(210, 100%, 50%);
  --azure-light: hsl(210, 100%, 74%);
  --azure-dark: hsl(210, 100%, 35%);
  --azure-heavy: hsl(210, 75%, 25%);

  --azure-5: hsl(210, 100%, 5%);
  --azure-10: hsl(210, 100%, 10%);
  --azure-15: hsl(210, 100%, 15%);
  --azure-20: hsl(210, 100%, 20%);
  --azure-25: hsl(210, 100%, 25%);
  --azure-30: hsl(210, 100%, 30%);
  --azure-35: hsl(210, 100%, 35%);
  --azure-40: hsl(210, 100%, 40%);
  --azure-45: hsl(210, 100%, 45%);
  --azure-50: hsl(210, 100%, 50%);
  --azure-55: hsl(210, 100%, 55%);
  --azure-60: hsl(210, 100%, 60%);
  --azure-65: hsl(210, 100%, 65%);
  --azure-70: hsl(210, 100%, 70%);
  --azure-75: hsl(210, 100%, 75%);
  --azure-80: hsl(210, 100%, 80%);
  --azure-85: hsl(210, 100%, 85%);
  --azure-90: hsl(210, 100%, 90%);
  --azure-95: hsl(210, 100%, 95%);

  --cyan-5: hsl(190, 100%, 5%);
  --cyan-10: hsl(190, 100%, 10%);
  --cyan-15: hsl(190, 100%, 15%);
  --cyan-20: hsl(190, 100%, 20%);
  --cyan-25: hsl(190, 100%, 25%);
  --cyan-30: hsl(190, 100%, 30%);
  --cyan-35: hsl(190, 100%, 35%);
  --cyan-40: hsl(190, 100%, 40%);
  --cyan-45: hsl(190, 100%, 45%);
  --cyan-50: hsl(190, 100%, 50%);
  --cyan-55: hsl(190, 100%, 55%);
  --cyan-60: hsl(190, 100%, 60%);
  --cyan-65: hsl(190, 100%, 65%);
  --cyan-70: hsl(190, 100%, 70%);
  --cyan-75: hsl(190, 100%, 75%);
  --cyan-80: hsl(190, 100%, 80%);
  --cyan-85: hsl(190, 100%, 85%);
  --cyan-90: hsl(190, 100%, 90%);
  --cyan-95: hsl(190, 100%, 95%);

  --blue3: hsl(236, 100%, 35%);
  --blue3-light: hsl(236, 100%, 45%);

  --eye-color: hsl(240 35% 65%);

  --blue5: #001c3b;
  --blue6: #021f5f;
  --blue-white: hsl(208, 100%, 97%);
  --blue-white-faded: hsl(223, 20%, 88%);

  --blue-body: hsl(223, 33%, 96%);
  --blue-body-faded: hsl(223, 25%, 80%);
  --gray-code: hsl(0, 0%, 85%);

  --white-soft: hsl(54, 100%, 95%);
  --white: hsl(58, 0%, 100%);

  --black: hsl(0, 0%, 0%);
  --black-soft: hsl(0, 0%, 20%);
  --black1: hsl(0, 0%, 10%);
  --black2: hsl(0, 0%, 7%);
  --black3: hsl(0, 0%, 13%);
  --black4: hsl(0, 0%, 19%);
  --black5: hsl(0, 0%, 23%);

  --tealBg: hsl(191, 50%, 34%);
  --tealHover: hsl(191, 44%, 40%);
  --tealFocus: hsl(191, 40%, 44%);
  --tealShadow: hsl(191, 36%, 30%);

  --yellow: hsl(55, 100%, 55%);
  --orange-hover: hsl(45, 100%, 60%);
  --orange: hsl(36, 100%, 62%);

  --orange0: hsl(36, 65%, 90%);
  --orange1: hsl(36, 65%, 72%);
  --orange2: hsl(36, 100%, 62%);
  --orange3: hsl(36, 63%, 42%);
  --orange4: hsl(36, 62%, 35%);
  --orange5: hsl(36, 63%, 69%);

  --pinkBg: var(--pink);
  --pinkHover: hsl(328, 88%, 60%);
  --pinkFocus: hsl(328, 85%, 62%);
  --pinkShadow: hsl(328, 100%, 45%);
  --pinkActive: hsl(328, 78%, 60%);
  --pinkUnderline: hsl(328, 100%, 74%);
  --dark-pink: var(--pink-dark);
  --dark-faded-pink: hsl(330, 52%, 49%);

  --dark-faded-blue: hsl(195deg, 10%, 20%);
  --beige: hsl(55deg, 35%, 85%);

  --color-404: black;
  --color-outline: var(--azure);

  --color-app-card: var(--orange);
  --color-app-card-hover: var(--yellow);
} */

[data-theme="light"] {
  --shadow-404: purple;
  --shadow-404-hover: rebeccapurple;

  --stroke-404: deepskyblue;
  --stroke-404-hover: lime;

  --color-text: var(--black);
  --body-background: var(--blue-body);
  --code-background: var(--gray-code);
  --header-background: var(--black-soft);
  --footer-background: var(--black-soft);
  --form-background: var(--beige);
  --help-background: var(--yellow-faded-light);

  --fancy-link-underline: var(--pink-light);
  --fancy-link-underline: var(--azure-light);
  --fancy-text-color: hsl(120, 100%, 20%);
  --fancy-text-color: hsl(313, 100%, 40%);
  --fancy-text-color: var(--pink-dark);

  /* --app-card-color: var(--pink-dark);
  --app-card-hover-color: var(--pink); */

  --color-app-card: var(--pink-dark);
  --color-app-card-hover: var(--pink);

  --color-blog-title: var(--azure-25);
  --color-blog-date: hsl(60, 3%, 35%);

  --h1: var(--pink-dark);
  --h2: var(--pink-dark);
  --h3: var(--pink-dark);
  --h4: var(--azure-dark);
  --h5: var(--azure-dark);

  --h3: var(--azure-35);
  --h3: hsl(222, 60%, 40%);
  --h4: hsl(222, 60%, 40%);
  --basic-card-background: var(--blue-white-faded);

  --page-buttons: var(--blue3);
  --page-buttons-hover: var(--blue3-light);

  --page-buttons: var(--pink-dark);
  --page-buttons-hover: var(--pink);

  --side-note: var(--black-soft);

  --color-strong: var(--pink-dark);
  --external-link: var(--blue3);
  --external-link-hover: var(--blue3-light);

  --external-link: var(--pink-dark);
  --external-link-hover: var(--pink);

  --mobile-menu-color: var(--yellow-faded);
  --mobile-menu-background: var(--blue-black);

  --color-link-icon-top: var(--blue5);
  --color-link-icon-bottom: var(--blue6);
  --internal-link: var(--azure-dark);
  --internal-link-hover: var(--azure-heavy);
  --internal-link: var(--pink-dark);
  --internal-link-hover: var(--pink);

  /* --internal-link: var(--azure-heavy); */
  --skip-link: var(--azure-light);

  --app-name-gradient: var(--gradient-light-mode);
  --app-name-shadow: var(--shadow-light-mode);

  --myName: var(--amber);
  --myNameHover: var(--yellow-orange);

  --color-outline: var(--azure-dark);
  --color-outline: var(--black-soft);
  --color-outline-form: var(--azure);
  --color-outline-button: black;

  --color-em: var(--azure-25);

  --correct-answer: var(--green-dark);
  --wrong-answer: var(--red-dark);

  --shadow-values: 210deg, 5%, 35%;
  --transparent-values: 210deg, 5%, 35%, 0;

  --shadow-opacity: 0.1;

  /* --transparent-shadow: 2px 2px 4px hsl(var(--transparent-values)),
    3px 3px 6px hsl(var(--transparent-values)), 4px 4px 8px hsl(var(--transparent-values)),
    5px 5px 10px hsl(var(--transparent-values)), 6px 6px 12px hsl(var(--transparent-values)),
    7px 7px 14px hsl(var(--transparent-values)), 8px 8px 16px hsl(var(--transparent-values)),
    9px 9px 18px hsl(var(--transparent-values)); */

  --transparent-shadow: 2px 2px 4px hsl(var(--transparent-values));

  --card-shadow: 2px 2px 4px hsl(var(--shadow-values), var(--shadow-opacity)),
    3px 3px 6px hsl(var(--shadow-values), var(--shadow-opacity)),
    4px 4px 8px hsl(var(--shadow-values), var(--shadow-opacity)),
    5px 5px 10px hsl(var(--shadow-values), var(--shadow-opacity)),
    6px 6px 12px hsl(var(--shadow-values), var(--shadow-opacity)),
    7px 7px 14px hsl(var(--shadow-values), var(--shadow-opacity)),
    8px 8px 16px hsl(var(--shadow-values), var(--shadow-opacity)),
    9px 9px 18px hsl(var(--shadow-values), var(--shadow-opacity));
}

[data-theme="dark"] {
  --shadow-404: red;
  --shadow-404-hover: yellow;
  --stroke-404: yellow;
  --stroke-404-hover: deepskyblue;
  --color-text: var(--white-soft);
  --body-background: var(--black-soft);

  --code-background: var(--black1);
  --header-background: var(--black2);
  --footer-background: var(--black2);
  --fancy-link-underline: var(--azure-light);
  --fancy-text-color: var(--sky);
  --app-card-color: var(--orange);
  --app-card-hover-color: var(--yellow);

  --color-strong: var(--sky);
  /* --color-strong: var(--yellow); */

  --basic-card-background: var(--black3);
  --form-background: var(--dark-faded-blue);
  --form-background: var(--black3);
  --help-background: var(--black3);

  --basic-card-color: var(--orange);
  --basic-card-hover-color: var(--yellow);

  --h2: var(--orange);
  --h3: var(--orange);
  --h4: var(--yellow);
  --h5: var(--yellow);
  --h2: var(--yellow);
  --h4: var(--yellow);

  --page-buttons: var(--orange);
  --page-buttons-hover: var(--yellow);
  --side-note: var(--black-soft);

  --mobile-menu-color: var(--yellow-faded);
  --mobile-menu-background: var(--blue-black);

  --internal-link: var(--orange);
  --internal-link-hover: var(--yellow);

  --external-link: var(--azure-85);
  --external-link-hover: var(--azure-85);
  --external-link: var(--cyan-75);
  --external-link-hover: var(--cyan-55);

  /* --external-link: var(--sky); */
  /* --external-link-hover: var(--sky-light); */

  --color-link-icon-top: var(--blue-white);

  --color-link-icon-bottom: var(--white);

  --color-blog-title: var(--azure-85);
  --color-blog-date: hsl(60, 3%, 70%);

  --app-name-gradient: var(--gradient-dark-mode);
  --app-name-shadow: var(--shadow-dark-mode);

  --myName: var(--amber);
  --myNameHover: var(--yellow-orange);

  /* --myName: var(--azure-80);
  --myNameHover: var(--azure-85); */

  --color-outline: var(--azure-light);
  --color-outline-form: var(--sky);

  --color-em: var(--yellow);

  --color-outline-button: white;

  --correct-answer: var(--green-light);
  --wrong-answer: var(--red-light);

  --shadow-values: 210deg, 5%, 5%;
  --shadow-opacity: 0.4;

  --transparent-shadow: 2px 2px 4px hsl(210deg, 5%, 5%, 0), 3px 3px 6px hsl(210deg, 5%, 5%, 0),
    4px 4px 8px hsl(210deg, 5%, 5%, 0), 5px 5px 10px hsl(210deg, 5%, 5%, 0),
    6px 6px 12px hsl(210deg, 5%, 5%, 0);

  --card-shadow: 2px 2px 4px hsl(var(--shadow-values), var(--shadow-opacity)),
    3px 3px 6px hsl(var(--shadow-values), var(--shadow-opacity)),
    4px 4px 8px hsl(var(--shadow-values), var(--shadow-opacity)),
    5px 5px 10px hsl(var(--shadow-values), var(--shadow-opacity)),
    6px 6px 12px hsl(var(--shadow-values), var(--shadow-opacity));
}

* {
  box-sizing: border-box;
  text-decoration: none;
  min-width: 0;
  line-height: calc(1em + 0.625rem);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  background: var(--body-background);
  color: var(--color-text);
  font-size: var(--size18);
  font-variation-settings: "wdth" 75;
  font-variation-settings: var(--recursive);
  font-family: "OpenSans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  transition: background 200ms linear, color 200ms linear;
}

a:hover {
  text-decoration: revert;
}

/* Make images easier to work with */
img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

p {
  font-weight: 500;
  /* font-size: clamp(var(--size16), 0.5vw + 0.5rem, var(--size20)); */
}

small {
  font-family: OpenSans;
  font-size: clamp(var(--size14), 3vw, var(--size16));
  font-variation-settings: "wdth" 75, "wght" 555;
}

ul ~ li:first-child {
  margin: 0;
}

ul {
  margin: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}

table {
  width: fit-content;
  color: black;
}

tbody {
  background: red;
}

thead {
  background: hsl(240, 100%, 50%, 0.5);
  color: hsl(0, 0%, 95%, 1);
}

th {
  background: hsl(0, 100%, 50%, 0.5);
  outline: 1px solid black;
  padding: 0 4px;
}

tr {
  background: green;
}

td {
  background: hsl(39, 100%, 70%);
  outline: 1px solid black;
  padding: 4px 8px;
}

strong {
  font-weight: 900;
  color: var(--color-strong);
  font-variation-settings: "wght" 755, "wdth" 95;
}

code {
  background: var(--code-background);
  color: var(--code-color);
  font-family: Recursive, monospace;
  font-variation-settings: var(--monospace);
  padding: 2px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 80%, 0.9);
}

::-webkit-scrollbar-thumb {
  background: hsl(215, 23%, 45%);
  border: 2px ridge hsl(215, 20%, 34%);

  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(215, 33%, 52%);
}

p,
li,
section {
  font-family: "OpenSans", system-ui, sans-serif;
  font-variation-settings: "wght" 555, "wdth" 100;
}

button {
  font-family: "Jost";
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
label:focus-visible,
select:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--color-outline);
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

*:focus-within {
  outline: none;
}

pre {
  overflow: auto;
  padding: 32px 16px;
}

pre > * {
  font-size: var(--size14) !important;
}

em {
  color: var(--color-em);
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@media (max-width: 320px) {
  html {
    --header-height: 50px;
  }
  a:focus-visible,
  button:focus-visible {
    outline: none;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  background: hsl(36, 35%, 95%);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  padding: 8px 0;
  --transparent: hsl(0, 0%, 0%, 0.7);
  --color: var(--orange0);
  background: linear-gradient(
    to bottom,
    var(--transparent) 0%,
    var(--transparent) 35%,
    var(--color) 35%,
    var(--color) 65%,
    var(--transparent) 65%,
    var(--transparent) 100%
  );
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --height: 2rem;
  --half: calc(var(--height) * 0.5);
  position: relative;
  transform: translateY(-50%);
  height: calc(var(--height) * 1);
  width: calc(var(--half) * 0.75);
  top: 0;
  background: var(--yellow);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--orange-hover);
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-webkit-slider-thumb {
  background: yellow;
  transition: all 0.1s ease-in;
}

input[type="range"]:focus::-moz-range-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
  --color: orange;
  border-radius: 2px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: black;

  --transparent: hsl(0, 0%, 0%, 0.7);
  --color: var(--orange0);
  background: linear-gradient(
    to bottom,
    var(--transparent) 0%,
    var(--transparent) 35%,
    var(--color) 35%,
    var(--color) 65%,
    var(--transparent) 65%,
    var(--transparent) 100%
  );
}
input[type="range"]::-moz-range-thumb {
  background: var(--yellow);
  cursor: pointer;
  -moz-appearance: none;
  padding: 8px 4px;
  border: none;
  border-radius: 0;
  width: 4px;
}

mjx-container[jax="CHTML"] {
  outline: none;
  display: none;
}
