@font-face {
  font-family: 'Jost';
  src: url(/fonts/Jost-english-subset.woff2) format('woff2 supports variations'),
    url(/fonts/Jost-english-subset.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-display: fallback;
  font-style: oblique 0 2;
}

@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: fallback;
  src: url(/fonts/recursive-variable.woff2) format('woff2');
  unicode-range: U+000D, U+0020-007E, U+00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7, U+00B9-00BA,
    U+00BC-00BE, U+00D7, U+00F7, U+2007-200B, U+2010, U+2012-2015, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+203E, U+2044, U+2052, U+2074, U+20AC,
    U+2122, U+2190-2199, U+2212, U+2215, U+F8FF;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: fallback;
  src: url(/fonts/inter-variable-subset.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  src: url(/fonts/open-sans-regular.woff2);
  font-display: fallback;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
    U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-200B, U+2013-2015, U+2017-201E, U+2020-2022,
    U+2026, U+2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2074, U+20AC, U+2122, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'decovar';
  src: url(/fonts/decovar.woff2) format('woff2 supports variations'),
    url(/fonts/decovar.woff2) format('woff2-variations');
  font-display: fallback;
  font-weight: 0 1000;
  font-stretch: 0% 100%;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7,
    U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-200B, U+2013-2015, U+2017-201E, U+2020-2022,
    U+2026, U+2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+2074, U+20AC, U+2122, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --yellow-faded: hsl(55, 67%, 80%);
  --yellow-faded-light: hsl(55, 67%, 90%);
  --blue-black: hsl(218, 35%, 6%, 0.929);

  --red-light: hsl(0, 100%, 70%);
  --red-dark: hsl(0, 100%, 40%);
  --green-light: hsl(120, 100%, 65%);
  --green-dark: hsl(120, 100%, 25%);
  --yellow-orange: hsl(45, 100%, 60%);
  --amber: hsl(45, 100%, 50%);
  --orange-dark: hsl(22, 100%, 55%);

  --yellow: hsl(55, 100%, 55%);
  --orange-hover: hsl(45, 100%, 60%);
  --orange: hsl(36, 100%, 62%);

  --off-white: hsl(36, 65%, 90%);

  --pink-light: hsl(328, 100%, 74%);
  --pink-medium-light: hsl(328, 100%, 62%);
  --pink: hsl(328, 100%, 54%);
  --pink-medium-dark: hsl(328, 100%, 45%);
  --pink-dark: hsl(328, 100%, 37%);

  --sky: hsl(195, 100%, 50%);
  --sky-light: hsl(195, 100%, 75%);

  --azure: hsl(210, 100%, 50%);
  --azure-light: hsl(210, 100%, 74%);
  --azure-dark: hsl(210, 100%, 35%);
  --azure-heavy: hsl(210, 75%, 25%);
  --azure-25: hsl(210, 100%, 25%);
  --azure-35: hsl(210, 100%, 35%);
  --azure-75: hsl(210, 100%, 75%);
  --azure-85: hsl(210, 100%, 85%);
  --cyan-55: hsl(190, 100%, 55%);
  --cyan-75: hsl(190, 100%, 75%);
  --blue3: hsl(236, 100%, 35%);
  --blue3-light: hsl(236, 100%, 45%);
  --blue5: #001c3b;
  --blue6: #021f5f;
  --blue-white: hsl(208, 100%, 97%);
  --blue-white-faded: hsl(223, 20%, 88%);
  --blue-body: hsl(223, 33%, 96%);
  --blue-body-faded: hsl(223, 25%, 80%);
  --gray-code: hsl(0, 0%, 85%);

  --white-soft: hsl(54, 100%, 95%);
  --white: hsl(58, 0%, 100%);

  /* --black: hsl(0, 0%, 0%); */
  --black: hsl(0, 0%, 13%);
  --black-soft: hsl(0, 0%, 20%);
  --black1: hsl(0, 0%, 15%);
  --black2: hsl(0, 0%, 7%);
  --black3: hsl(0, 0%, 13%);

  --tealBg: hsl(191, 50%, 34%);
  --tealHover: hsl(191, 44%, 40%);
  --tealFocus: hsl(191, 40%, 44%);
  --tealShadow: hsl(191, 36%, 30%);

  --pinkHover: hsl(328, 88%, 60%);
  --pinkFocus: hsl(328, 85%, 62%);
  --pinkShadow: hsl(328, 100%, 45%);
  --pinkActive: hsl(328, 78%, 60%);
  --pinkUnderline: hsl(328, 100%, 74%);

  --dark-faded-blue: hsl(195deg, 10%, 20%);
  --beige: hsl(55deg, 35%, 85%);

  --color-404: black;
  --color-outline: var(--azure);

  --center: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
  --left: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  --right: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  --top: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  --bottom: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  --visible: polygon(-20% -20%, 100% -20%, 100% 100%, -20% 100%);

  --max-page-width: 80ch;
  --unit: calc((30 / 100) * 1vw);
  --cube-height: calc(50 * var(--unit));
  --cube-width: calc(50 * var(--unit));
  --cube-depth: calc(25 * var(--unit));
  --mouth-padding: 5%;
  --eye-margin: calc(var(--mouth-padding) * -1);
  --header-height: 80px;
  --footer-height: 165px;
  --header-link-gap: clamp(0.5rem, 1rem + 3vw, 5rem);

  --breathing-room: 48px;
  --gutter-size: 48px;
  --line-height: calc(1em + 0.625rem);
  --header-position: translateY(0%);

  --size10: 0.625rem;
  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size20: 1.25rem;
  --size21: 1.3125rem;
  --size24: 1.5rem;
  --size28: 1.75rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 2.75rem;
  --size48: 3rem;
  --size52: 3.25rem;
  --size56: 3.5rem;
  --size60: 3.75rem;

  --decovar-default: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-open: 'BLDA' 1000, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-worm: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 1000, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-checkered: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 1000, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-reverse: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0,
    'TRMK' 1000, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-striped: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 500, 'TRML' 0, 'SKLA' 0, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-rounded: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 1000, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-flared: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 0, 'TRMB' 1000, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-flaredOpen: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 1000, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 1000, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-roundedSlab: 'BLDA' 0, 'TRMD' 0, 'TRMC' 1000, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-sheared: 'BLDA' 0, 'TRMD' 1000, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-bifurcated: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 1000;
  --decovar-inline: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 500, 'TRMF' 500,
    'TRMK' 0, 'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-slab: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 0, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 1000, 'TRME' 0;
  --decovar-contrast: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 0, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 1000, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-fancy: 'BLDA' 0, 'TRMD' 0, 'TRMC' 0, 'SKLD' 0, 'TRML' 0, 'SKLA' 1000, 'TRMF' 0, 'TRMK' 0,
    'BLDB' 0, 'WMX2' 1000, 'TRMB' 1000, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0, 'TRME' 0;
  --decovar-mayhem: 'BLDA' 0, 'TRMD' 0, 'TRMC' 750, 'SKLD' 0, 'TRML' 250, 'SKLA' 1000, 'TRMF' 250,
    'TRMK' 250, 'BLDB' 1000, 'WMX2' 750, 'TRMB' 500, 'TRMA' 500, 'SKLB' 1000, 'TRMG' 750, 'TRME' 500;
  --decovar-custom: 'BLDA' 352.27, 'TRMD' 371.5, 'TRMC' 577.8, 'SKLD' 0, 'TRML' 600.52,
    'SKLA' 249.13, 'TRMF' 166.96, 'TRMK' 509.62, 'BLDB' 462.41, 'WMX2' 182.69, 'TRMB' 565.56,
    'TRMA' 406.47, 'SKLB' 376.75, 'TRMG' 420.45, 'TRME' 659.97;
  --decovar-custom2: 'BLDA' 0, 'TRMD' 1000, 'TRMC' 1000, 'SKLD' 260, 'TRML' 100, 'SKLA' 612,
    'TRMF' 395, 'TRMK' 394, 'BLDB' 165, 'WMX2' 163, 'TRMB' 0, 'TRMA' 0, 'SKLB' 0, 'TRMG' 0,
    'TRME' 204;

  --recursive1: 'MONO' 1, 'CRSV' 0, 'CASL' 1, 'wght' 900, 'slnt' 0;
  --recursive2: 'MONO' 0, 'CRSV' 0, 'CASL' 1, 'wght' 700, 'slnt' -15;
  --recursive3: 'MONO' 0, 'CRSV' 0, 'CASL' 0.75, 'wght' 200, 'slnt' 0;
  --recursive4: 'MONO' 0, 'CRSV' 0, 'CASL' 0.15, 'wght' 900, 'slnt' -6;
  --recursive5: 'MONO' 0, 'CRSV' 0, 'CASL' 1, 'wght' 300, 'slnt' -15;
  --recursive6: 'MONO' 0, 'CRSV' 0, 'CASL' 0, 'wght' 700, 'slnt' 0;
  --recursive7: 'MONO' 0, 'CRSV' 0, 'CASL' 1, 'wght' 400, 'slnt' 0;
  --recursive8: 'MONO' 0, 'CRSV' 0, 'CASL' 1, 'wght' 700, 'slnt' -10;
  --recursive9: 'MONO' 0.5, 'CRSV' 0.38, 'CASL' 1, 'wght' 673.25, 'slnt' 0;
  --monospace: 'MONO' 1, 'CASL' 0, 'CRSV' 0, 'wght' 360, 'slnt' 0;
  --monospaceLight: 'MONO' 1, 'CASL' 0, 'CRSV' 0.5, 'wght' 100, 'slnt' 0;

  --jostHairline: 'wght' 100, 'ital' 0;
  --jostHeavy: 'wght' 800, 'ital' 0;
  --jostBlack: 'wght' 900, 'ital' 0;

  --shadow-light-mode: -0.002em -0.002em 0.006em hsl(18, 51%, 38%),
    -0.004em -0.004em 0.006em hsl(14, 50%, 37%), -0.005em -0.005em 0.006em hsl(9, 48%, 35%),
    -0.007em -0.007em 0.006em hsl(04, 46%, 34%), -0.009em -0.009em 0.006em hsl(0, 45%, 33%),
    -0.011em -0.011em 0.006em hsl(356, 43%, 32%), -0.012em -0.012em 0.006em hsl(351, 42%, 30%),
    -0.014em -0.014em 0.006em hsl(346, 41%, 29%), -0.016em -0.016em 0.006em hsl(343, 38%, 28%),
    -0.018em -0.018em 0.006em hsl(338, 37%, 27%), -0.019em -0.019em 0.006em hsl(334, 35%, 25%),
    -0.021em -0.021em 0.006em hsl(329, 34%, 24%), -0.023em -0.023em 0.006em hsl(324, 33%, 23%),
    -0.025em -0.025em 0.006em hsl(319, 31%, 22%), -0.026em -0.026em 0.006em hsl(315, 30%, 20%),
    -0.028em -0.028em 0.006em hsl(311, 28%, 19%), -0.03em -0.03em 0.006em hsl(305, 27%, 18%),
    -0.032em -0.032em 0.006em hsl(303, 25%, 17%), -0.033em -0.033em 0.006em hsl(297, 23%, 15%),
    -0.035em -0.035em 0.006em hsl(293, 22%, 14%);

  --shadow-dark-mode: -0.005em -0.005em 0.006em hsl(280, 99%, 50%),
    -0.01em -0.01em 0.006em hsl(279, 97%, 48%), -0.015em -0.015em 0.006em hsl(277, 95%, 46%),
    -0.02em -0.02em 0.006em hsl(276, 93%, 45%), -0.024em -0.024em 0.006em hsl(275, 91%, 43%),
    -0.029em -0.029em 0.006em hsl(273, 89%, 41%), -0.034em -0.034em 0.006em hsl(272, 87%, 39%),
    -0.039em -0.039em 0.006em hsl(271, 84%, 37%), -0.044em -0.044em 0.006em hsl(269, 82%, 36%),
    -0.049em -0.049em 0.006em hsl(268, 80%, 34%), -0.054em -0.054em 0.006em hsl(266, 78%, 32%),
    -0.059em -0.059em 0.006em hsl(265, 77%, 30%), -0.063em -0.063em 0.006em hsl(263, 74%, 29%),
    -0.068em -0.068em 0.006em hsl(262, 72%, 27%), -0.073em -0.073em 0.006em hsl(261, 70%, 25%),
    -0.078em -0.078em 0.006em hsl(260, 68%, 23%), -0.083em -0.083em 0.006em hsl(258, 67%, 21%),
    -0.088em -0.088em 0.006em hsl(257, 64%, 20%), -0.093em -0.093em 0.006em hsl(256, 63%, 18%),
    -0.098em -0.098em 0.006em hsl(255, 60%, 16%);

  --gradient-light-mode: linear-gradient(180deg, hsl(52, 100%, 50%) 25%, hsl(27, 100%, 50%) 75%);
  --gradient-dark-mode: linear-gradient(180deg, hsl(157, 100%, 43%) 25%, hsl(200, 100%, 65%) 75%);
}

[data-theme='light'] {
  --shadow-404: purple;
  --shadow-404-hover: rebeccapurple;

  --stroke-404: deepskyblue;
  --stroke-404-hover: lime;

  --body-background: var(--blue-body);
  --code-background: var(--gray-code);
  --header-background: var(--black-soft);
  --footer-background: var(--black-soft);
  --form-background: var(--beige);
  --help-background: var(--yellow-faded-light);
  --help-background: var(--body-background);

  --fancy-link-underline: var(--pink-light);
  --fancy-link-underline: var(--azure-light);
  --fancy-text-color: hsl(120, 100%, 20%);
  --fancy-text-color: hsl(313, 100%, 40%);
  --fancy-text-color: var(--pink-dark);
  --fancy-link-underline: hsl(313, 100%, 64%);
  /* --fancy-text-color: hsl(191, 50%, 34%); */
  /* --fancy-text-color: hsl(180, 25%, 35%); */
  /* --fancy-text-color: hsl(222, 60%, 40%); */

  /* --color-app-card: var(--pink-dark);
  --color-app-card-hover: var(--pink); */

  /* --color-app-card: hsl(191, 50%, 24%);
  --color-app-card-hover: hsl(191, 50%, 30%); */

  --color-blog-title: var(--azure-25);
  --color-blog-date: hsl(60, 3%, 35%);

  --h1: #212121;
  --h2: var(--pink-dark);
  --h2: var(--azure-dark);
  --h3: var(--pink-dark);
  --h4: var(--azure-dark);
  --h5: var(--azure-dark);

  --h3: var(--azure-35);
  --h2: hsl(210, 100%, 35%);
  --h4: hsl(210, 75%, 25%);
  --h3: hsl(222, 60%, 40%);
  --h2: hsl(190, 100%, 25%);

  --h4: #990078;
  --h4: hsl(222, 60%, 30%);
  --h3: hsl(222, 60%, 30%);
  --h2: hsl(222, 60%, 30%);
  --h4: hsl(190, 70%, 20%);
  --h3: hsl(190, 70%, 20%);
  --h2: #0b2128;
  --h1: hsl(0, 0%, 13%);

  --fancy-text-color: hsl(222, 60%, 30%);
  --fancy-text-color: hsl(190, 100%, 20%);
  /* --h2: hsl(19, 60%, 35%); */

  /* --app-card-color: hsl(190, 25%, 25%);
  --app-card-hover: hsl(190, 25%, 35%); */
  --app-card-color: hsl(222, 60%, 30%);
  --app-card-hover: hsl(222, 60%, 40%);

  --app-card-color: hsl(190, 100%, 20%);
  --internal-link: hsl(190, 85%, 20%);
  --internal-link-hover: hsl(190, 85%, 25%);

  --internal-link: hsl(195, 56%, 20%);

  --app-card-hover: var(--external-link-hover);

  --app-card-shadow: #333;

  --basic-card-background: var(--blue-white-faded);
  --basic-card-background: hsl(222, 10%, 90%);

  --page-buttons: var(--blue3);
  --page-buttons-hover: var(--blue3-light);

  --page-buttons: var(--pink-dark);
  --page-buttons-hover: var(--pink);

  --side-note: var(--black-soft);

  --color-strong: var(--pink-dark);
  --color-strong: hsl(190, 100%, 20%);
  --color-strong: hsl(19, 60%, 35%);
  --color-strong: hsl(222, 60%, 30%);

  --fancy-text-color: hsl(19, 60%, 35%);

  --external-link: var(--blue3);
  --external-link-hover: var(--blue3-light);

  --rosewood: #4f000b;
  --claret: #720026;
  --brickred: #ce4257;
  --coral: #ff7f51;
  --sandybrown: #ff9b54;

  --external-link: var(--pink-dark);
  --external-link-hover: var(--pink);

  --mobile-menu-color: var(--yellow-faded);
  --mobile-menu-background: var(--blue-black);

  --color-link-icon-top: var(--blue5);
  --color-link-icon-bottom: var(--blue6);
  /* --internal-link: hsl(222, 60%, 30%); */

  /* --internal-link: var(--azure-dark);
  --internal-link-hover: var(--azure-heavy); */
  /* --internal-link: var(--pink-dark); */
  /* --internal-link-hover: hsl(328, 100%, 40%); */

  /* --internal-link: hsl(191, 50%, 24%); */

  /* --internal-link: var(--azure-heavy);
  --internal-link-hover: var(--azure-dark); */
  --app-card-color: var(--internal-link);
  --app-card-hover: var(--internal-link-hover);

  /* --internal-link: var(--external-link); */
  /* --internal-link-hover: var(--external-link-hover); */
  --skip-link: var(--azure-light);
  /* --color-app-card: var(--azure-heavy); */

  /* --color-app-card: darkslategrey; */
  --color-blog-title: darkslategrey;
  /* --internal-link: darkslategrey; */

  --color-text: var(--black);

  --app-name-gradient: var(--gradient-light-mode);
  --app-name-shadow: var(--shadow-light-mode);

  --myName: var(--amber);
  --myNameHover: var(--yellow-orange);

  --color-outline: var(--azure-dark);
  --color-outline: var(--black-soft);
  --color-outline-form: var(--azure);
  --color-outline-button: black;

  --color-em: var(--azure-25);

  --correct-answer: var(--green-dark);
  --wrong-answer: var(--red-dark);

  --shadow-values: 210deg, 5%, 35%;
  --transparent-values: 210deg, 5%, 35%, 0;

  --shadow-opacity: 0.1;

  /* --transparent-shadow: 2px 2px 4px hsl(var(--transparent-values)),
    3px 3px 6px hsl(var(--transparent-values)), 4px 4px 8px hsl(var(--transparent-values)),
    5px 5px 10px hsl(var(--transparent-values)), 6px 6px 12px hsl(var(--transparent-values)),
    7px 7px 14px hsl(var(--transparent-values)), 8px 8px 16px hsl(var(--transparent-values)),
    9px 9px 18px hsl(var(--transparent-values)); */

  --transparent-shadow: 2px 2px 4px hsl(var(--transparent-values));

  --card-shadow: 2px 2px 4px hsl(var(--shadow-values), var(--shadow-opacity)),
    3px 3px 6px hsl(var(--shadow-values), var(--shadow-opacity)),
    4px 4px 8px hsl(var(--shadow-values), var(--shadow-opacity)),
    5px 5px 10px hsl(var(--shadow-values), var(--shadow-opacity)),
    6px 6px 12px hsl(var(--shadow-values), var(--shadow-opacity)),
    7px 7px 14px hsl(var(--shadow-values), var(--shadow-opacity)),
    8px 8px 16px hsl(var(--shadow-values), var(--shadow-opacity)),
    9px 9px 18px hsl(var(--shadow-values), var(--shadow-opacity));
}

[data-theme='dark'] {
  --shadow-404: red;
  --shadow-404-hover: yellow;
  --stroke-404: hsl(60, 100%, 50%);
  --stroke-404-hover: deepskyblue;
  --color-text: var(--white-soft);
  --body-background: var(--black-soft);

  --code-background: var(--black1);
  --header-background: var(--black2);
  --footer-background: var(--black2);
  --fancy-link-underline: var(--azure-light);
  --fancy-text-color: var(--sky);

  --app-card-shadow: #000;
  --app-card-color: var(--orange);
  --app-card-hover-color: var(--yellow);

  --color-strong: var(--sky);
  /* --color-strong: var(--yellow); */

  --basic-card-background: var(--black3);
  --form-background: var(--dark-faded-blue);
  --form-background: var(--black3);
  --help-background: var(--black3);

  --basic-card-color: var(--orange);
  --basic-card-hover-color: var(--yellow);

  /* --yellow-orange: hsl(45, 100%, 60%);
  --amber: hsl(45, 100%, 50%);
  --orange-dark: hsl(22, 100%, 55%);

  --yellow: hsl(55, 100%, 55%);
  --orange-hover: hsl(45, 100%, 60%);
  --orange: hsl(36, 100%, 62%); */

  --h5: hsl(45, 100%, 50%);
  --h4: hsl(36, 100%, 62%);
  --h4: hsl(45, 100%, 60%);
  --h3: hsl(55, 100%, 55%);
  --h2: hsl(36, 100%, 62%);
  /* --h2: var(--yellow);
  --h4: var(--yellow); */

  --page-buttons: var(--orange);
  --page-buttons-hover: var(--yellow);
  --side-note: var(--black-soft);

  --mobile-menu-color: var(--yellow-faded);
  --mobile-menu-background: var(--blue-black);

  --internal-link: var(--orange);
  --internal-link-hover: var(--yellow);

  --external-link: var(--azure-85);
  --external-link-hover: var(--azure-85);
  --external-link: var(--cyan-75);
  --external-link-hover: var(--cyan-55);

  /* --external-link: var(--sky); */
  /* --external-link-hover: var(--sky-light); */

  --color-idiomatic: hsl(16, 100%, 77%);

  --color-link-icon-top: var(--blue-white);

  --color-link-icon-bottom: var(--white);

  --color-blog-title: var(--azure-85);
  --color-blog-date: hsl(60, 3%, 70%);

  --app-name-gradient: var(--gradient-dark-mode);
  --app-name-shadow: var(--shadow-dark-mode);

  --myName: var(--amber);
  --myNameHover: var(--yellow-orange);

  /* --myName: var(--azure-80);
  --myNameHover: var(--azure-85); */

  --color-outline: var(--azure-light);
  --color-outline-form: var(--sky);

  --color-em: var(--yellow);

  --color-outline-button: white;

  --correct-answer: var(--green-light);
  --wrong-answer: var(--red-light);

  --shadow-values: 210deg, 5%, 5%;
  --shadow-opacity: 0.4;

  --transparent-shadow: 2px 2px 4px hsl(210deg, 5%, 5%, 0), 3px 3px 6px hsl(210deg, 5%, 5%, 0),
    4px 4px 8px hsl(210deg, 5%, 5%, 0), 5px 5px 10px hsl(210deg, 5%, 5%, 0),
    6px 6px 12px hsl(210deg, 5%, 5%, 0);

  --card-shadow: 2px 2px 4px hsl(var(--shadow-values), var(--shadow-opacity)),
    3px 3px 6px hsl(var(--shadow-values), var(--shadow-opacity)),
    4px 4px 8px hsl(var(--shadow-values), var(--shadow-opacity)),
    5px 5px 10px hsl(var(--shadow-values), var(--shadow-opacity)),
    6px 6px 12px hsl(var(--shadow-values), var(--shadow-opacity));
}

* {
  box-sizing: border-box;
  text-decoration: none;
  min-width: 0;
  line-height: calc(1em + 0.625rem);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  filter: none;
  transition: filter 1s ease;
}

#__next.blur {
  filter: blur(8px);
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  background: var(--body-background);
  color: var(--color-text);
  font-size: var(--size18);
  font-variation-settings: var(--recursive);
  font-family: 'OpenSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  transition: background 200ms linear, color 200ms linear;
}

/* Make images easier to work with */
img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

p {
  font-weight: 500;
  /* font-size: clamp(var(--size16), 0.5vw + 0.5rem, var(--size20)); */
}

small {
  font-family: OpenSans;
  font-size: clamp(var(--size14), 3vw, var(--size16));
  font-variation-settings: 'wdth' 75, 'wght' 555;
}

ul ~ li:first-child {
  margin: 0;
}

ul {
  margin: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}

table {
  width: fit-content;
  color: black;
}

tbody {
  background: red;
}

thead {
  background: hsl(240, 100%, 50%, 0.5);
  color: hsl(0, 0%, 95%, 1);
}

th {
  background: hsl(0, 100%, 50%, 0.5);
  outline: 1px solid black;
  padding: 0 4px;
}

tr {
  background: green;
}

td {
  background: hsl(39, 100%, 70%);
  outline: 1px solid black;
  padding: 4px 8px;
}

strong {
  font-weight: 900;
  color: var(--color-strong);
  font-variation-settings: 'wght' 755, 'wdth' 95;
}

code {
  background: var(--code-background);
  color: var(--code-color);
  font-family: Recursive, monospace;
  font-variation-settings: var(--monospace);
  padding: 2px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 80%, 0.9);
}

::-webkit-scrollbar-thumb {
  background: hsl(215, 23%, 45%);
  border: 2px ridge hsl(215, 20%, 34%);

  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(215, 33%, 52%);
}

p,
li {
  font-family: Inter, 'OpenSans', system-ui, sans-serif;
  font-variation-settings: 'wght' 555, 'wdth' 100;
}

button {
  font-family: 'Jost';
}

button:focus-visible {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
  border-radius: 2px;
}

/* a,
a:visited,
a:hover {
  text-decoration: none;
} */

/* a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
} */

/* a:focus-visible,
button:focus-visible,
input:focus-visible,
label:focus-visible,
select:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--color-outline);
} */

/* *:focus-within {
  outline: none;
} */

pre {
  overflow: auto;
  padding: 32px 16px;
}

pre > * {
  font-size: var(--size14) !important;
}

em {
  color: var(--color-em);
  /* font: inherit; */
  font-family: Recursive;
  font-variation-settings: var(--recursive8);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@media (max-width: 320px) {
  html {
    --header-height: 50px;
  }
  a:focus-visible,
  button:focus-visible {
    outline: none;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  background: hsl(36, 35%, 95%);
}

input[type='range']:focus-visible,
input[type='color']:focus-visible {
  outline: 2px solid var(--color-outline);
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  padding: 8px 0;
  --transparent: hsl(0, 0%, 0%, 0.7);
  --color: var(--off-white);
  background: linear-gradient(
    to bottom,
    var(--transparent) 0%,
    var(--transparent) 35%,
    var(--color) 35%,
    var(--color) 65%,
    var(--transparent) 65%,
    var(--transparent) 100%
  );
  position: relative;
}

input[type='range']::-webkit-slider-thumb {
  --height: 2rem;
  --half: calc(var(--height) * 0.5);
  position: relative;
  transform: translateY(-50%);
  height: calc(var(--height) * 1);
  width: calc(var(--half) * 0.75);
  top: 0;
  background: var(--yellow);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: var(--orange-hover);
}

input[type='range']:active::-moz-range-thumb,
input[type='range']:active::-webkit-slider-thumb {
  background: yellow;
  transition: all 0.1s ease-in;
}

input[type='range']:focus::-moz-range-track,
input[type='range']:focus::-webkit-slider-runnable-track {
  --color: orange;
  border-radius: 2px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: black;

  --transparent: hsl(0, 0%, 0%, 0.7);
  --color: var(--off-white);
  background: linear-gradient(
    to bottom,
    var(--transparent) 0%,
    var(--transparent) 35%,
    var(--color) 35%,
    var(--color) 65%,
    var(--transparent) 65%,
    var(--transparent) 100%
  );
}
input[type='range']::-moz-range-thumb {
  background: var(--yellow);
  cursor: pointer;
  -moz-appearance: none;
  padding: 8px 4px;
  border: none;
  border-radius: 0;
  width: 4px;
}
